main {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.blog-list {
    list-style: none;
    padding-top: 100px;
}

.blog-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.blog-item:hover {
    transform: translateY(-5px);
}

.blog-item a {
    text-decoration: none;
    color: #333;
    display: block;
}

.blog-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.blog-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight:bold;
}

.blog-item p {
    color: #777;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .blog-item {
        padding: 1rem;
    }
}
