.navbar{
  z-index:999;
  background-color: rgb(32, 35, 197);
  padding-left: 15px;
  padding-right: 15px;
  display:flex;
  align-items:center;
  justify-content: space-between;
  overflow: hidden;
  /* padding: 14px 16px; */
  font-family:Arial, Helvetica, sans-serif;
}
body{
  margin: 0px;
  background-color: #333;
}
.logo a{
  color: whitesmoke;
  font-weight: 60000px;
  font-size: 35px;
  padding-left: 15px;
  text-decoration: none;
}
.navving {
  margin: 0;
  padding: 0
}
li {
  display: inline-block;
  list-style:none;
  padding: 0px;
  /* margin: 0;
  padding: 0 */
}

.navbar li a{
  color:white;
  font-size: 18px;
  font-weight:bold;
  margin-right: 25px;
  display: block;
  padding: 24px 16px;
  text-decoration: none;
}


section.minimal-section {
  background-color: #e3ecfad0;
  /* padding-bottom: 40px; */
  padding-left: 40px;
  line-height: 200%;
  }

  section.minimal-section .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }


  section.minimal-section .text h1{
    flex: 1 1 50%;
    padding-right: 20px;
    padding-bottom: 25px;
    font-size:50px;
    }
  section.minimal-section .text {
  flex: 1 1 50%;
  padding-right: 20px;
  }

  section.minimal-section .image {
  flex: 1 1 50%;
  }

  section.minimal-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  }

  section.minimal-section p {
  margin-bottom: 0px;
  }

  section.minimal-section .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  }

  section.minimal-section .btn:hover {
  background-color: #555;
  }

  section.minimal-section img {
  max-width: 100%;
  height: auto;
  }

/*Customizing links*/
li a:hover { 
  text-decoration: none;
  color:gray;
  /* background-color: rgb(79, 89, 230);  */
}

/* Scroll Bar*/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* Style for the featured section */
.featured {
  position: relative;
  width: 100%;
  height: 350px; /* Adjust the height as needed */
  background-image: url('images/background.jpg'); /* Replace with your background image */

  background-size: cover;
  background-position: center;
  text-align: left;
  color: #fff;
  display: flex;
  align-items: center;
}

.featured-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  /* background-color: rgba(0, 0, 0, 0.5); Add a semi-transparent overlay */
}

.featured-content {
  max-width: 50%;
  padding: 20px;

}
.featured h1 {
  font-size: 100px;
  margin-bottom: 10px;
  
}
.featured h2 {
  font-size: 28px;
  margin-bottom: 10px;
  
}

.featured p {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 150%;
  font-family:Arial, Helvetica, sans-serif;
}

.featured .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #447eeb;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.featured .btn:hover {
  background-color: #1f66eb;
}

.highlights {
  align-items: center;
  text-align: center;
}



.featured1 {
  position: relative;
  width: 100%;
  height: 350px; /* Adjust the height as needed */
  /* background-image: url('tutor-stock.jpeg');  */
  background-color: #333;
  background-size: cover;
  background-position: center;
  text-align: left;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.featured1-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  /* background-color: rgba(0, 0, 0, 0.5); Add a semi-transparent overlay */
}

.featured1-content {
  max-width: 100%;
  padding: 0px;
  text-align: center;

}
.featured1 h1 {
  font-size: 400px;
  margin-bottom: 10px;
  
}
.featured1 h2 {
  font-size: 60px;
  margin-bottom: 10px;
  
}

.featured1 p {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 150%;
  font-family:Arial, Helvetica, sans-serif;
}

.padded-image{
  margin-top:70px;
}

/* Basic styling for the link */
.link-button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover effect */
.link-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Active effect */
.link-button:active {
  background-color: #003366;
  border-color: #003366;
}
